@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Variable CSS */
:roots{
  --header-height: 3rem;
  --nav-width:324px;

  --font-medium:500;
  --font-semi-bold: 600;

  --fist-color: #CC4B2C;
  --fist-color-dark: #662616;
  --fist-color-darker: #290F09;
  --text-color: #54423D;
  --fist-color-light: #EAE7E6;
  --fist-color-lighter: #FFFAFA;

  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.25rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .9381rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  --z-fixed:100;
}

@media screen and (min-width: 768px){
  :root{
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .8rem;
    --smaller-font-size: .75rem;
  }
}

*,::before,::after{
  box-sizing:border-box;
}

